/* medicarflow/public/assets/css/globals/base.css */

:root {
    --neon-green: #39FF14;
    --dark-blue: #062b4f;
    --neon-shadow: 0 0 10px rgba(57, 255, 20, 0.4);
}

/* Utilidades para usar en cualquier vista */
.text-neon {
    color: var(--neon-green) !important;
    text-shadow: var(--neon-shadow);
}

.text-soft-dark {
    color: #4b5563 !important;
}

.bg-dark-custom {
    background-color: var(--dark-blue) !important;
}

body {
    background-color: #b7c0ba;
    min-height: 100vh;
}
