/* base.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #062b4f;
    /* Quitamos el color: #fff de aquí para que no afecte a los inputs */
}

/* Este es el contenedor para tus páginas internas (Dashboard, Listados) */
.main-content {
    background-color: #ffffff;
    color: #333; /* Texto oscuro para legibilidad dentro de las tablas */
    min-height: 80vh;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    max-width: 1200px; /* Un ancho más estándar para que no se vea infinito */
}